
@{
    ViewBag.Title = "Inventario Farmaci";
}
<head>
    <style>
        li span 
        {
            font-weight:normal;
        }
    </style>

</head>


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-8">
        <h2>Inventario Farmaci</h2>
    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="row animated fadeInDown">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h3>Elenco farmaci presenti in struttura:</h3>
                    
                    <p>
                        <ol style="font-weight: bold;">
                            <li>
                                <span>Nerixia 25mg</span>
                            </li>
                            <li>
                                <span>Sandostatina LAR 30mg</span>
                            </li>
                            <li>
                                <span>Decapeptyl 3,75 mg/2ml</span>
                            </li>
                            <li>
                                <span>Sercomplex</span>
                            </li>

                            <li>
                                <span>Valium 10mg/2ml</span>
                            </li>

                            <li>
                                <span>Isoptin 5 mg/ml</span>
                            </li>

                            <li>
                                <span>Adrenalina 1mg/1ml</span>
                            </li>
                            <li>
                                <span>Fibro-vein 3%</span>
                            </li>
                            <li>
                                <span>Solumedrol 500mg/8ml</span>
                            </li>
                            <li>
                                <span>Soluzione glucosata 10%</span>
                            </li>
                            <li>
                                <span>Atropina Solfato 1mg/1ml</span>
                            </li>
                            <li>
                                <span>Cumadren</span>
                            </li>
                            <li>
                                <span>Icaro</span>
                            </li>
                            <li>
                                <span>Linfonorm</span>
                            </li>
                            <li>
                                <span>Miotrab 1,4g</span>
                            </li>
                            <li>
                                <span>Iridium A 8mg</span>
                            </li>
                            <li>
                                <span>Gangliolife</span>
                            </li>
                            <li>
                                <span>Ialusol mono</span>
                            </li>
                            <li>
                                <span>Glaukomm</span>
                            </li>
                            <li>
                                <span>Celluvisc</span>
                            </li>
                            <li>
                                <span>Soluzione Salina 9% 500ml</span>
                            </li>
                            <li>
                                <span>Exocin 3mg/ml</span>
                            </li>
                            <li>
                                <span>Torbal 0,3%</span>
                            </li>
                            <li>
                                <span>Visumidriatic 0,5%</span>
                            </li>
                            <li>
                                <span>Fuxina 30g</span>
                            </li>

                            <li>
                                <span>Allergeni vegetali per accertamenti:</span>
                                <ul>
                                    <li>
                                        <span>Triticum Sativum</span>
                                    </li>
                                    <li>
                                        <span>Dactylis Glomerata</span>
                                    </li>
                                    <li>
                                        <span>Fraxinus</span>
                                    </li>
                                    <li>
                                        <span>Solidago Virgaurea</span>
                                    </li>
                                    <li>
                                        <span>Ostrya Virginiana</span>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <span>Allergeni animali e alimentari per accertamenti:</span>
                                <ul>
                                    <li>
                                        <span>Acarus Siro</span>
                                    </li>
                                    <li>
                                        <span>Dermatophagoides Pteronyssinus</span>
                                    </li>
                                    <li>
                                        <span>Tonno</span>
                                    </li>
                                    <li>
                                        <span>Aglio</span>
                                    </li>
                                    <li>
                                        <span>Maiale</span>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <span>Neurotin 40mg</span>
                            </li>
                            <li>
                                <span>Carbamazepina 5mg</span>
                            </li>
                            <li>
                               <span>Proliartimina 60mg</span>
                            </li>
                        </ol>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>