
@{
    ViewBag.Title = "Procedura Emergenza";
    Layout = "../Shared/_LayoutReserved.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-8">
        <h2>Farmaci</h2>
        @*<ol class="breadcrumb">
                <li>
                    <a href="@Url.Action("Dashboard_1", "Dashboards")">Home</a>
                </li>
                <li>
                    Extra pages
                </li>
                <li class="active">
                    <strong>Calendar</strong>
                </li>
            </ol>*@
    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="row animated fadeInDown">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Farmaci </h5>
                    @*<div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li>
                                    <a href="#">Config option 1</a>
                                </li>
                                <li>
                                    <a href="#">Config option 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>*@
                </div>
                <div class="ibox-content">
                    <p>
                        La somministrazione sperimentale della farmaco psicotropo dislettico (psicodislettica: capace di alterare la percezione, lo stato di coscienza o il comportamento) è già al 5° ciclo. Sono stati fatti diversi progressi relativamente alla stabilizzazione del processo ma sono stati riscontrati conflitti con sostanze psicoanalettica: eccitatoria dell'attività mentale (es. anfetamine, caffeina, cocaina) quindi è imperativo evitarne la somministrazione se non in casi estremi.
                    </p>

                    <p>
                        Il farmaco X798 supportato dallo stabilizzante stabilizzante U591 e dall attuatore Z675 predispone il soggetto all’indottrinamento comportamentale ipnotico manipolando il suo inconscio e subconscio lasciando inalterata la percezione del se.
                    </p>
                    Alcuni soggetti si dimostrano particolarmente resistenti al farmaco,  le motivazioni sono ancora sconosciute, escluso il fattore fisiologico genetico, possiamo ipotizzare che una forte attività psicoanalettica specificatamente durante il sonno  o la veglia possa (adrenalina generata per colpa di incubi o forti allucinazioni) abbiano potuto concorrere all’inibizione dell’effetto generale. Con la nuova versione del farmaco ciò è impossibile poichè abbiamo inserito delle sostanze depressive che inibiscono influenza di sostanze psicoanalettiche generate dall’organismo.
                    <p>
                        I soggetti fin’ ora reimmessi nella procedura sono stati sottoposti a soppressione dell’attività dell’ippocampo con procedura sperimentale per rimuovere i ricordi del vissuto nel breve lasso di tempo. La procedura però causa anche la perdita generale di identità, ma con l’idottrinemnto transipnotico e possibile colmare quei vuoiti con nuove informazioni. Questo varia inevitabilmente la narrazione personale del vissuto del soggetto ma il cervello umano ha la meravigliosa dote di amalgamare l’errore e ridare autonomamente coerenza al tutto. Questo avviene perchè il nostro cervello umano non è in grado di accettare in prima battuta ciò che sfugge alla sua logica e per configurazione di base cerca di dare un senso a tutto anche inventando ricordi falsi per compensazione.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/plugins/iCheck")


    <script type="text/javascript">
        $(document).ready(function () {

            //$('.fc-month-button').removeClass('fc-state-active')
            //$('.fc-agendaDay-button').addClass('fc-state-active');

            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });

            /* initialize the external events
             -----------------------------------------------------------------*/
        });
    </script>
}

