@{
    ViewBag.Title = "***";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">

        @*<ol class="breadcrumb">
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li>
                    <a>UI Elements</a>
                </li>
                <li class="active">
                    <strong>Tabs</strong>
                </li>
            </ol>*@
    </div>
    <div class="col-lg-2">
    
    </div>
</div>
<div class="wrapper wrapper-content animated fadeIn">

    <div class="row m-t-lg">
        <br /><br /><br /><br /><br /><br />
        <div class="col-lg-5">
        </div>
        <div class="col-lg-2">
            <button class="btn btn-default btn-outline">

                    <i class="fa fa-volume-up fa-5x"></i>

            </button>
        </div>
        <div class="col-lg-5">
        </div>
    </div>

</div>

</div>
