
@{
    ViewBag.Title = "Farmaci";
    Layout = "../Shared/_LayoutReserved.cshtml";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-8">
        <h2>Farmaci</h2>
        @*<ol class="breadcrumb">
                <li>
                    <a href="@Url.Action("Dashboard_1", "Dashboards")">Home</a>
                </li>
                <li>
                    Extra pages
                </li>
                <li class="active">
                    <strong>Calendar</strong>
                </li>
            </ol>*@
    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="row animated fadeInDown">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h3>Rapporto Farmacologico: 12/5/17 </h3>
                    @*<div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li>
                                    <a href="#">Config option 1</a>
                                </li>
                                <li>
                                    <a href="#">Config option 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>*@
                </div>
                <div class="ibox-content">
                    <p>
                        <h4> N° ciclo: 5.</h4>
                        <h4> N° tester: 20</h4>
                        <h5>Farmaci impiegati e loro versione:</h5>
                        <li> Neurotin 40mg - v.3.5</li>
                        <li> Carbamazepina 8mg - v.2</li>
                        <li> Proliartimina 60mg - v.4</li>
                        <br />
                    </p>

                    <h4>Annotazioni precedenti l’inizio del ciclo:</h4>

                    <p>
                        La somministrazione sperimentale della farmaco psicotropo dislettico (psicodislettica: capace di alterare la percezione, lo stato di coscienza o il comportamento ) è già al 5° ciclo. Sono stati fatti diversi progressi relativamente alla stabilizzazione del processo, ma sono stati riscontrati conflitti con sostanze psicoanalettiche: eccitatorie dell'attività mentale (es. anfetamine, caffeina, cocaina) quindi è imperativo evitarne la somministrazione se non in casi estremi.
                    </p>

                    <p>
                        I soggetti finora reimmessi nella procedura sono stati sottoposti a soppressione dell’attività dell’ippocampo con procedura sperimentale per rimuovere i ricordi del vissuto nel breve lasso di tempo. La procedura però causa anche la perdita generale di identità, ma con l’idottrinemnto transipnotico è possibile colmare quei vuoti con nuove informazioni. Questo varia inevitabilmente la narrazione personale del vissuto del soggetto ma il cervello umano ha la meravigliosa dote di amalgamare l’errore e ridare autonomamente coerenza al tutto. Questo avviene perchè il cervello umano non è in grado di accettare in prima battuta ciò che sfugge alla sua logica e per configurazione di base cerca di dare un senso a tutto anche inventando ricordi falsi per compensazione.
                    </p>

                    <p>
                        La somministrazione dei farmaci sarà ripetuta giornalmente per un ciclo di 5 dosi per tipo di farmaco, con la possibilità di regolare eventualmente le dosi.
                    </p>

                    <div class="col-md-12">
                        <p></p>
                    </div>

                    <div class="col-md-12">
                        <p></p>
                    </div>

                    @*<div class="col-md-12">
                        <p></p>
                    </div>*@

                    <h2>Farmaci impiegati:</h2>

                    <div class="col-md-12">
                        <p></p>
                    </div>

                    @*<div class="col-md-12">
                        <p></p>
                    </div>*@

                    <p>
                        <b>Nome farmaco:</b> Neurotrin 40mg - 3.5<br />
                        <b>Composizione:</b> 25mg Sostanza neuro-psicotropa X798, 7mg anti-buprenorfina,
                        5mg alamyctal, 3mg acido 2-(acetilossi) benzoico<br />
                        <b>Effetti e scopo:</b> Versione 3.5. Se supportato da stabilizzante U591 e dall attuatore Z675, predispone il soggetto all’indottrinamento comportamentale ipnotico manipolando il suo inconscio e subconscio lasciando inalterata la percezione del se.<br />
                        Somministrazione sottocutanea.<br />
                        Alcuni soggetti si dimostrano particolarmente resistenti al farmaco, le motivazioni sono ancora sconosciute, escluso il fattore fisiologico genetico, possiamo ipotizzare che una forte attività psicoanalettica specificatamente durante il sonno  o la veglia possa (adrenalina generata per colpa di incubi o forti allucinazioni) abbiano potuto concorrere all’inibizione dell’effetto generale.<br />
                        Con la nuova versione del farmaco ciò è impossibile poichè abbiamo inserito delle sostanze depressive che inibiscono influenza di sostanze psicoanalettiche generate dall’organismo.
                    </p>

                    <div class="col-md-12">
                        <p></p>
                    </div>

                    @*<div class="col-md-12">
                        <p></p>
                    </div>*@

                    <p>
                        <b>Nome farmaco:</b> Carbamazepina 8mg - 2<br />
                        <b>Composizione:</b> 5mg sostanza stabilizzante U591, 2mg valproato di magnesio, 1mg
                        valproato  di sodio.<br />
                        <b>Effetti e scopo:</b> Versione 2. Correzione in seguito ad ultimo ciclo. Lo stabilizzatore, bilanciato dagli eccipienti, permette di controllare l’attività psicotropa del farmaco denominato “neurotrin”. Da verificare se i cambiamenti permettano l’effettivo controllo delle reazioni dislettiche di quest’ultimo.
                        Somministrazione orale.
                    </p>
                    <div class="col-md-12">
                        <p></p>
                    </div>

                    @*<div class="col-md-12">
                        <p></p>
                    </div>*@

                    <p>
                        <b>Nome farmaco:</b> Proliartimina 60mg - 4<br />
                        <b>Composizione:</b> 45 mg Sostanza psico-attuatrice Z675, 8mg L.S.D., 5mg Citrato
                        monosodico, 2mg cloruro di acetile.<br />
                        <b>Effetti e scopo:</b> Stimolante neurochimico: fondamentale per attivare le reazioni a livello delle sinapsi neuronali, attiva e amplifica gli effetti delle sostanze U591 e X798.
                        Fondamentale è la sua somministrazione, obbligatoriamente inalatoria, circa 6-8 h dopo la sostanza psicotropo-dislettica X798, e circa 4h dopo lo stabilizzatore U591 per poter avere il massimo effetto col minor numero di effetti collaterali (vedi 3° ciclo)
                    </p>
                    <div class="col-md-12">
                        <p></p>
                    </div>

                    <div class="col-md-12">
                        <p></p>
                    </div>

                    <h3>Effetti indesiderati riscontrati finora:</h3>
                    <li>Capogiro e senso di disorientamento </li>
                    <li>Vertigini </li>
                    <li>Nausea </li>
                    <li>Vomito</li>
                    <li>Sbalzi umorali repentini e di rilevanza </li>
                    <li>Apatia e disinteresse</li>
                    <li>Stanchezza e sonnolenza</li>
                    <li>Iperattività incontrollata</li>
                    <li>Iperattività incontrollabile </li>
                    <li>Spossatezza estrema </li>


                </div>
            </div>
        </div>
    </div>
</div>
@section Styles {
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/plugins/iCheck")

    <script type="text/javascript">
        $(document).ready(function () {

            //$('.fc-month-button').removeClass('fc-state-active')
            //$('.fc-agendaDay-button').addClass('fc-state-active');

            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });

            /* initialize the external events
             -----------------------------------------------------------------*/


        });
    </script>
}
